body{
  background-color: #EEE;
}
/*, .main-content*/
article div.container{
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
  width: 70%;
  margin: -120px auto;
  background-color: white;
  z-index: 2;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
footer{
  margin-top: 100px;
}
.post-heading{
  text-align: center;
}
.post-heading h1{
  font-size: 45px !important;
}
.navbar-custom{
  /*background: black;*/
}

a.navbar-brand:hover, .navbar li a:hover{
  color: #29c0da !important;
  text-shadow: 0 0.5px 1px black;
  transition: 0.5s !important;
}
/*Preview*/
.preview-card:hover{
  /*overflow-x: hidden;*/
}
.preview-img{
  height: 80px;
  overflow-y: hidden;
}
.preview-img img{
  width: 100%;
  opacity: 0.8;
  /*overflow-x: hidden;*/
}
.preview-title{
  position: relative;
  margin-top: -25px;
  z-index: 115;
}
.preview-title span{
  color: white;
  text-shadow: 2px 2px 5px black;
}
.preview-img:hover{
  height: 150px;
  transition: 0.5s;
}
.a-wrapper:hover{
  text-decoration: none;
}
.preview-img img:hover{
  cursor: pointer !important;
}
/*Preview*/
