<!-- start custom head snippets -->
<!-- Code highlight -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/default.min.css">
<link rel="stylesheet" href="/assets/css/monokai-sublime.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>

<script>hljs.initHighlightingOnLoad();</script>
<!-- insert favicons. use http://realfavicongenerator.net/ -->

<link rel="stylesheet" href="/assets/css/key.css">

<!-- end custom head snippets -->